html, body {
	margin: 0;
}

#workzone {
	position: fixed;
	overflow: auto;
	z-index: -1;
	left: 0;
	top: 3em;
	right: 0;
	bottom: 0;
}

#windowCatchAll {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#windowCatchAll.on {
	display: block;
}
