#page {
	background: #fffdf5;
	position: relative;
	margin: auto;
	overflow: hidden;
}

#page.ratio, #page.fitHeight {
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #ece8da;
}

#page.ratio, #page.fitWidth {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #ece8da;
}

#page.empty {
	display: none;
}

#page * {
	position: absolute;
}

#page p {
	margin: 0;
	white-space: nowrap;
}

.String.lowQuality {
	background: #a4ddfd;
}

.String.lowQuality.deleted {
	background: #fdd;
}

.String.deleted {
	text-decoration: line-through;
	color: red;
}
