#toolbar {
	background: #ddd;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ccc;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	height: 3em;
}

#fileNumber {
	width: 4em;
}

#wcThreshold {
	width: 3.5em;
}

#toolbar button {
	padding: 0;
}
