.menu {
	cursor: default;
	display: inline-block;
}

.menu > * {
	z-index: 2;
}

.menu span {
	position: relative; /* needed for z-index to work */
	padding: 0.4em;
}

.menu ul {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background: #ddd;
	border: 1px solid #ccc;
}

.menu.open ul {
	display: block;
}

.menu ul li {
	padding: 0.2em 0.5em;
}

.menu.open span, .menu ul li:hover {
	background: #777;
	color: #fff;
}

.menu ul li.disabled {
	color: #888;
	background: #ddd;
}

.menu a {
	color: inherit;
	cursor: inherit;
	text-decoration: none;
}
