.BlockPosition {
	display: none;
	width: 100%;
	height: 100%;
	border: 2px solid #54e654;
	color: #54e654;
	/*font-weight: bold;*/
	z-index: 2;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.BlockPosition > div {
	width: 100%;
	font-size: 10em;
	top: 50%;
	margin-top: -0.5em;
	text-align: center;
}

#page.blockOrderMode .BlockPosition {
	display: block;
}

#page.blockOrderMode .TextLine {
	opacity: 0.5;
}
