#selector {
	display: none;
	position: fixed;
	border: 1px dashed #aaa;
}

#selector.on {
	display: block;
}

#selector, #page.freeze {
	cursor: crosshair;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
